
<!DOCTYPE html>
<html lang="vi_VN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson 9</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<p>Today is: <span th:text="${today}"></span></p>
<div th:object="${session.user}">
</div>
<h1 th:utext="#{xinchao}"></h1>
<a th:href="@{/profile}" class="btn btn-primary">Why</a>
</body>
</html>